{% for item in options.services %}
    {% set externalLink = fn('get_field', 'link', item.service.ID) %}
	{% set permalink = fn('get_permalink', item.service.ID) %}
    {% set price = fn('get_field', 'prix', item.service.ID) %}
    {% set resume = fn('get_field', 'resume', item.service.ID) %}
    <li class="item">
        {{
            externalLink ?
                '<a href="' ~ externalLink.url ~ '" target="_blank" rel="noopener noreferrer">' :
                '<a href="' ~ permalink ~ '">'
        }}
            <div class="img-container">
                {{ function('wp_get_attachment_image', item.service._thumbnail_id, 'medium_large') }}
            </div>
            <p class="item-title">
                {{ item.service.post_title }}
            </p>
            {% if details %}
                <p class="item-price">{{ price }} € <span>TTC</span></p>
                <p class="item-description">{{ resume }}</p>
            {% endif %}
        </a>
    </li>
{% endfor %}