<footer class="site-footer">
	<div class="container">
		<nav class="menu-footer" aria-label="Secondary Navigation">
			<ul>
				<li>
					{% set contact_page = function('get_page_by_path', 'contact') %}
					{% if contact_page %}
						{% set contact_post_id = function('pll_get_post', contact_page.ID) %}
						<a href="{{ function('get_the_permalink', contact_post_id) }}">
							{{ __('Contact', 'fetedusleep') }}
						</a>
					{% endif %}
				</li>
				<li>
					<a href="{{ options.instagram }}" target="_blank" rel="noopener noreferrer">Instagram</a>
				</li>
				<li>
					<a href="{{ options.tiktok }}" target="_blank" rel="noopener noreferrer">Tiktok</a>
				</li>
				<li>
					{% set mentions_page = function('get_page_by_path', 'mentions-legales') %}
					{% if mentions_page %}
						{% set mentions_page_id = function('pll_get_post', mentions_page.ID) %}
						<a href="{{ function('get_the_permalink', mentions_page_id) }}">
							{{ __('Mentions légales', 'fetedusleep') }}
						</a>
					{% endif %}
				</li>
			</ul>
		</nav>
		<div class="copyright">
			© La Fête Du Sleep <span class="desktop">- </span><br class="mobile">{{ date|date('Y') }}
		</div>
		<div class="concu-par">
			<p>{{ __('Site conçu par', 'fetedusleep') }} </p>
			<a href="bemy.studio" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" width="61" height="20.754" viewBox="0 0 61 20.754">
  					<path id="Union_2" data-name="Union 2" d="M-13476.546,15.753l1.7-4.5-4.791-11.983h4.5l2.434,7.362,2.3-7.362h4.4l-6.205,16.486Zm-46.164-5.76v1.488H-13527V-5h4.289v5.9A4.5,4.5,0,0,1-13519-1c2.91,0,5.416,2.417,5.416,6.323v.044c0,3.975-2.506,6.388-5.395,6.388A4.593,4.593,0,0,1-13522.71,9.993Zm-.092-4.652v.044a2.586,2.586,0,0,0,2.484,2.78,2.576,2.576,0,0,0,2.508-2.78V5.341a2.578,2.578,0,0,0-2.508-2.754A2.575,2.575,0,0,0-13522.8,5.341Zm10.564.092V5.385A6.127,6.127,0,0,1-13506.075-1,5.785,5.785,0,0,1-13500,4.355l-2.207,2.2h-5.895a2.522,2.522,0,0,0,2.639,2.012,3.231,3.231,0,0,0,1.7-.454l-3.5,3.5A6.018,6.018,0,0,1-13512.237,5.433Zm4.064-1.06h4.244c-.16-1.357-.945-2.217-2.125-2.217C-13507.179,2.156-13507.946,3.037-13508.173,4.373Zm23.594,7.108V4.844c0-1.331-.66-2.029-1.672-2.029s-1.764.7-1.764,2.029v6.637h-4.289V4.844c0-1.331-.654-2.029-1.67-2.029s-1.738.7-1.738,2.029v6.637H-13500V6.45l7.42-7.423a3.77,3.77,0,0,1,.506-.031,3.73,3.73,0,0,1,3.52,1.99,5.134,5.134,0,0,1,4.09-1.99c2.592,0,4.178,1.623,4.178,4.473v8.012Z" transform="translate(13526.999 5.001)" fill="#22292d"/>
				</svg>
			</a>
		</div>
	</div>
</footer>