<header class="site-header">
	<div class="container">
		<nav class="menu" aria-label="Main Navigation">
			<a href="{{ site.url }}">
				{# <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100.144 64">
					<g data-name="Calque 2" transform="translate(0.011 1.971)">
						<g transform="translate(-0.011 -1.971)">
							<path data-name="Tracé 210"
								d="M11.727,227.632c-2.221-1.836-4-1.985-6.994-1.836s-3.579.149-3.579.149-.834-.016-.815.435c0,0,.311,6.994.334,7.928s.133,3.466,0,7.374-.135,6.6-.135,6.6.024.888.822.909,4.371,0,4.371,0,4.242.075,6.4-1.939S14,240.512,14,240.512l.147-6.9S13.948,229.468,11.727,227.632ZM9.121,240.055c-.327,3.759-2.784,3.375-2.784,3.375l-.149-3.611-.236-8.131A2.352,2.352,0,0,1,8.618,232.7C8.945,233.08,9.447,236.287,9.121,240.055Z"
								transform="translate(-0.277 -186.278)"
								fill="#cda595" />
							<path data-name="Tracé 211"
								d="M100.889,224.69s-.71-.016-1.6,0-1.658-.222-2.516-.222c-.755,0-.682.918-.682,1.005v14.363c0,1.836-.119,2.546-1.065,2.546s-1.037-1.749-1.067-2.605-.028-7.374-.028-7.374l.175-6.485s.089-1.154-.525-1.224-3.938-.222-3.938-.222a.981.981,0,0,0-.761.241.63.63,0,0,0-.187.416,7.946,7.946,0,0,0,.012,1.266c.072.741.2,3.967.2,3.967l-.149,8.678a16.165,16.165,0,0,0,.888,6.72c1.238,2.841,4.737,3.051,5.6,3.081s3.821-.476,5.151-2.724a12.96,12.96,0,0,0,1.245-5.8l-.037-6.662s.089-6.573.147-7.935A.856.856,0,0,0,100.889,224.69Z"
								transform="translate(-73.171 -185.216)"
								fill="#cda595" />
							<path data-name="Tracé 212"
								d="M210.453,224.241a6.248,6.248,0,0,0-8.5.206c-3.642,4.667.266,9.329.266,9.329l4,4.347s1.806,1.923,1.067,2.7-1.63-.208-1.63-.208-1.422-1.687-1.894-2.221-.859.236-1.037.35a18.443,18.443,0,0,0-1.214,1.479s-1.866,1.9-2.131,2.049.414.977.414.977a24.912,24.912,0,0,0,2.9,3.139,7.558,7.558,0,0,0,9.059-.385c3.167-2.754,1.9-5.744,1.364-7.225s-4.642-6.062-4.642-6.062-2.079-1.964-.567-3.471c.911-.911,1.923.591,2.485,1.3s1.36,1.9,1.36,1.9.416-.474.5-.622,2.518-3.165,2.518-3.165S215.1,227.941,210.453,224.241Z"
								transform="translate(-164.464 -183.716)"
								fill="#cda595" />
							<path data-name="Tracé 213"
								d="M309.823,247.345c0-.416.1-2.579.163-2.934s-.888-.3-.888-.3-2.042.089-3.583.147-3.642,0-4.057,0-3.672-.175-3.938-.147-.525-.3-.525-.3-.3-4.144-.266-5.373.175-6.323.175-6.323.175-4.114.238-4.826-1.243-.68-1.243-.68-1.806-.03-1.985,0-2.549,0-2.549,0c-.189-.014-.145.474-.145.474l.145,3.226s.175,5.389.063,6.959-.268,7.818-.238,8.349-.175,3.672-.236,4.057.411.327.411.327,4.207-.03,4.356,0,6.071-.282,8.054-.25,4.945.087,5.685.117.537-.266.537-.266S309.823,247.758,309.823,247.345Z"
								transform="translate(-240.073 -186.981)"
								fill="#cda595" />
							<path data-name="Tracé 214"
								d="M345.757,226.387s-4.648-.1-7.491,0l-2.843.1s-.65.061-.591,1.1-.068,6.692,0,8.409-.017,4.354-.017,4.354v.916s-.245.831,1.5.831h4.641c.3,0,4.8.175,4.8.175a1,1,0,0,0,.3-.769c0-.533-.058-3.05,0-3.147s.149-.86-.829-.86-3.5.061-3.5.061l-1.539.087s-.565.089-.593-.591,0-1.273,0-1.273a2,2,0,0,1,.978-.175c.591.03,4.293.059,4.293.059h.8a.866.866,0,0,0,.3-.8c-.03-.595-.031-1.983-.031-1.983s.175-.561-.385-.561-3.139.147-3.139.147l-2.4-.03s-.444-.175-.414-.474,0-1.095,0-1.095,2.9-.119,3.02-.119,1.481.059,1.985.059a10.61,10.61,0,0,0,1.362-.149,1.317,1.317,0,0,0,.121-.71c-.033-.444,0-2.488,0-2.488S346.233,226.4,345.757,226.387Z"
								transform="translate(-276.259 -186.765)"
								fill="#cda595" />
							<path data-name="Tracé 215"
								d="M425.908,244.89c.03-.979-.977-.864-.977-.864h-.741L420.757,244s-1.983.058-2.693,0-.416-.713-.416-.949.059-1.539.059-1.539,1.14-.135,1.4-.135,2.264-.072,2.264-.072,3.228-.031,3.672,0,.563-.561.563-.561-.119-3.672-.149-4.146a.647.647,0,0,0-.35-.6s-2.014-.086-2.754-.025-4.022,0-4.392,0-.4-.622-.35-.888.089-2.09.089-2.474.414-.386.71-.469,2.042.082,2.221,0,3.613.03,4.2,0a.855.855,0,0,0,.771-.474l-.122-1.376s-.086-1.717-.026-2.486a7.049,7.049,0,0,0,0-1.261l-.8-.012s-1.689.03-2.074,0-3.02-.089-3.226-.133-6.9-.045-6.9-.045a.544.544,0,0,0-.593.68s.089,2.576.119,3.5-.059,4.917-.059,4.917-.117,7.1-.175,8.764-.294,4.677-.325,5.328.089.5.622.444,3.523-.1,3.523-.1,2.695-.163,3.878-.133,5.153-.1,5.77-.07.684-.329.684-.329v-.962S425.879,245.865,425.908,244.89Z"
								transform="translate(-339.473 -186.776)"
								fill="#cda595" />
							<path data-name="Tracé 216"
								d="M515.417,233.72a9.8,9.8,0,0,0-1.826-4.975c-1.409-2.042-4.66-2.145-4.66-2.145h-4.471c-1.095,0-.918.7-.918.7a20.9,20.9,0,0,0,.14,3.376,72.66,72.66,0,0,1,.035,8.349c-.091,1.156.033,7.4,0,8.883s-.056,2.193-.056,2.193,1.332-.119,1.836-.149,1.983.016,2.457-.073a8.416,8.416,0,0,1,1.54,0s-.059-.525-.119-.918a18.569,18.569,0,0,1-.014-2.222c.028-.3.073-2.486.073-2.486a8.041,8.041,0,0,0,4.293-1.628,5.776,5.776,0,0,0,1.9-4.116S515.534,234.993,515.417,233.72Zm-4.114,4.443s-.175,1.509-2.273,1.574c0,0,.175-4.651,0-6.012s0-1.659,0-1.659a2.233,2.233,0,0,1,2.273,1.923A21.663,21.663,0,0,1,511.3,238.163Z"
								transform="translate(-415.48 -186.978)"
								fill="#cda595" />
							<path data-name="Tracé 217"
								d="M489.316,123.892c1.332.11,4.12.175,5.143.222a1.227,1.227,0,0,0,1.289-1.31c-.044-.4-.2-2.642-.224-3.265s-2.021-.712-2.242-.733-2.838.164-3.347.143-1.172.035-1.638.012-.733-.045-.8-.379a18.2,18.2,0,0,1-.089-1.923c0-.376.4-.4.4-.4a1.417,1.417,0,0,1,.726-.049c.579.044,4.567-.023,5.831,0s1.245-.977,1.245-.977-.175-2.242-.2-3.086-1.142-.874-1.142-.874c-.117-.038-2.59-.065-3.02-.019s-2.065,0-2.924,0h-1.3s-.087-1.154-.087-1.214.014-.385.073-1.049-.089-.593-.089-.593h-4.99a.467.467,0,0,0-.525.467s-.089,1.2-.089,1.465,0,2.887.023,3.42-.227,6.132-.227,6.132-.11,2.448-.175,3.24.154.874.222.874,2.02-.175,3.6-.175S487.984,123.773,489.316,123.892Z"
								transform="translate(-396.836 -89.445)"
								fill="#cda595" />
							<path data-name="Tracé 218"
								d="M387.61,70.255c0,.8.268.822.268.822h1.443c.133,0,2.289-.175,2.8-.175s.631.241.631.437-.023.932-.023.932.023,2.2.023,2.39.068,7.127.068,7.127-.112,5.929-.112,6.55,1.177.334,1.177.334h3.938c.6,0,.49-.421.49-.421s.023-1.574,0-1.934.11-4.218.087-4.394.112-4.908.112-4.908.021-4.62.021-5.263a.587.587,0,0,1,.6-.631S402,70.974,402.8,71s7.639.023,8.218.089,4.7.023,5.922,0a8.723,8.723,0,0,0,1.749-.156s-.044-1.177,0-1.6a30.845,30.845,0,0,0,.11-3.383,10.512,10.512,0,0,0-1.687-.149c-.288,0-2.376-.11-2.376-.11-.866,0-4.721.175-6.19.245s-3.8-.045-4.62,0-5.284.222-7.883.131-5.13.045-6.064.114a20.406,20.406,0,0,1-2.109,0c-.225-.012-.157.376-.157.376s.023.888,0,1.133S387.61,69.456,387.61,70.255Z"
								transform="translate(-319.832 -54.204)"
								fill="#cda595" />
							<path data-name="Tracé 219"
								d="M293.389,79.715c-.045,2-.135,8.814-.112,9.192s.245.4.245.4a47.827,47.827,0,0,1,6.04,0c.845.021,6.333.066,7.132.087s.955-.909.955-.909-.066-2.686-.087-3.53-.268-.911-.379-.911-1.532.112-1.532.112-1.953.045-2.065,0-4.4,0-4.4,0V82.046c0-.6.4-.643.4-.643h6.888a.908.908,0,0,0,.71-.35c.023-.1.135-.525.175-.8s.021-3.135.021-3.135a8.034,8.034,0,0,0-.175-.845,3.461,3.461,0,0,0-.776-.112s-6.844.112-7.089.112-.311-.35-.311-.35.044-3.8.112-3.863,4,.087,4.2,0,3.418.023,3.817,0a.446.446,0,0,0,.423-.423s-.044-1.224-.044-1.509a20.129,20.129,0,0,0,.175-2.819,4.523,4.523,0,0,0-1.11-.659l-.888-.1h-5.421l-6.417.206c-.509.016-.645.222-.6.6S293.431,77.716,293.389,79.715Z"
								transform="translate(-241.979 -54.913)"
								fill="#cda595" />
							<path data-name="Tracé 220"
								d="M307.286,31.22c.061.337.157.649.581.525.084-.026,3.069-.9,3.128-.916a2.546,2.546,0,0,1,.783,0c.233.059,3.658,1.1,3.658,1.1s.818.2.8-.28-.122-2.549-.122-2.549v-.451a.262.262,0,0,0-.164-.243c-.727-.287-3.558-1.325-3.558-1.325a2.088,2.088,0,0,0-.995,0c-.479.14-3.188,1.194-3.188,1.194l-.761.339s-.175.04-.156.379S307.227,30.881,307.286,31.22Z"
								transform="translate(-253.535 -22.292)"
								fill="#cda595" />
							<path data-name="Tracé 221"
								d="M217.475,112.984c.668-.03,4.9-.059,4.9-.059s.71-.059.678-.5-.028-4.588-.028-4.588,0-.119-.35-.119-3.121-.03-3.121-.03-1.813-.059-2.062-.03a4.316,4.316,0,0,1-.456.03V104.43c-3.177,2.612-4.454,2.651-5.263,2.866a2.479,2.479,0,0,1-.243.052c.056,1.846.117,4.186.117,5.246,0,1.481-.213,7.344-.213,7.344v.918s.4-.037.944-.075,1.252-.073,1.874-.073h2.042s.444.03.474-.35.119-5.714.119-5.714l.059-1.037A.494.494,0,0,1,217.475,112.984Z"
								transform="translate(-174.458 -86.17)"
								fill="#cda595" />
							<path data-name="Tracé 222"
								d="M97.291,67.962a12.835,12.835,0,0,1-.61-4.391,5.339,5.339,0,0,0-1.638-.241,5.034,5.034,0,0,0-4.618,2.623,14.349,14.349,0,0,0-1.717,6.87c-.03,1.29,0,5.945,0,5.945s.623.112.859.143,1.789.07,1.789.07h2.312c.525,0,.414-.86.414-.86V76.85s.887.031,1.507.093.525.276.525.276l-.03,1.105-.117,8.29a1.127,1.127,0,0,0,.25,0c.1-.019,4.022,0,4.176,0a6.908,6.908,0,0,0,.859-.308c.3-.093.3-.582.3-.582l.03-2.822.087-3.924s.135-3.5.147-6.2C101.084,72.36,98.19,70.562,97.291,67.962Zm-1.126,2.649v1.834h-2.25v-1.4s-.1-2.063,1.128-2.009S96.165,70.611,96.165,70.611Z"
								transform="translate(-73.184 -52.251)"
								fill="#cda595" />
							<path data-name="Tracé 223"
								d="M20.253,88.547a6.259,6.259,0,0,1,.579-.491.236.236,0,0,0,.089-.175V84.244a1.089,1.089,0,0,0-1.077-1.1c-1.056,0-4.321.021-5.162.021s-5.865.023-5.865.023l-2.027-.021a.135.135,0,0,0-.052,0c-.087.019-.416.058-.453-.5-.044-.647-.194-9.509-.194-9.509l-.021-6.024a.224.224,0,0,1,0-.033c.017-.135.126-1.082-.455-1.082-.654,0-3.919-.261-4.148-.28H1.444c-.126-.035-1.278-.241-1.453.39a.287.287,0,0,0,0,.066c0,.311.066,3.156.107,4.144.044,1.049.215,10.026.215,10.026s.028,4.009-.161,6.527L0,88.524a.226.226,0,0,0,.122.234.85.85,0,0,0,.36.063c.453,0,10.423-.28,14.067-.215s5.225.065,5.225.065S20.147,88.676,20.253,88.547Z"
								transform="translate(0.011 -54.193)"
								fill="#cda595" />
							<path data-name="Tracé 224"
								d="M74.175,8.461s.958-3.926,3.926-4.23c0,0-4.188-.829-3.926-4.232A4.656,4.656,0,0,1,69.55,4.361C69.557,4.361,72.872,4.448,74.175,8.461Z"
								transform="translate(-57.387 0)"
								fill="#cda595" />
							<path data-name="Tracé 225"
								d="M61.939,60.05a1.523,1.523,0,0,0,1.621-1.5,1.633,1.633,0,0,0-1.738-1.5,1.423,1.423,0,0,0-1.5,1.5A1.523,1.523,0,0,0,61.939,60.05Z"
								transform="translate(-49.769 -47.072)"
								fill="#cda595" />
							<path data-name="Tracé 226"
								d="M154.146,19.2a8.229,8.229,0,0,0,3.2-1.336c.161-.1.329-.217.505-.339.1-.068.2-.138.3-.213l.175-.124a6.167,6.167,0,0,1,.752-.059c.154-.012.337-.021.542-.026h.079c1.338-.035,3.424.028,3.424.028h.925a.621.621,0,0,0,.441-.175l.119-.119a.621.621,0,0,0,.175-.414l.138-3.191s.147-1.465-.712-1.481l-6.246-.117s-1.411.08-1.936.049c-.444-.024-1.867-.049-2.336-.056a.552.552,0,0,0-.3.079c-.21.128-.574.386-.595.659-.017.21-.031,1.794-.033,3.455a14.812,14.812,0,0,1-5.464-3.877,12.482,12.482,0,0,1-2.116-8.351c.4-2.306.525-2.743,1.117-3.593,0,0-3.179.664-4.992,4.941a14.068,14.068,0,0,0-.789,2.525,15.112,15.112,0,0,0-.028,4.345,10.651,10.651,0,0,0,.47,1.976,9.031,9.031,0,0,0,3.244,3.971,12.3,12.3,0,0,0,1.455.942,20.408,20.408,0,0,0,4.205.568c1.173,0,2.14.065,2.925.063a5.482,5.482,0,0,0,1.353-.129Z"
								transform="translate(-115.807 0)"
								fill="#cda595" />
						</g>
					</g>
				</svg> #}
				<img class="logo" src="{{theme.uri}}/src/images/logo-fete-du-sleep.svg" alt="La fête du Sleep">
			</a>
			<button class="burger-button mobile" aria-controls="primary-navigation" aria-expanded="false">
				<svg viewBox="0 0 100 100" width="24">
					<rect class="line top" x="0" y="47" width="100" height="6"></rect>
					<rect class="line mid" x="0" y="47" width="100" height="6"></rect>
					<rect class="line bottom" x="0" y="47" width="100" height="6"></rect>
				</svg>
			</button>
			<ul id="primary-navigation" aria-expanded="false">
				<li>
					<button aria-controls="submenu" aria-expanded="false" class="btn-submenu">
						{{ __('Mes services', 'fetedusleep') }}
						<svg class="icon-arrow"
							xmlns="http://www.w3.org/2000/svg"
							width="13.061"
							height="7.592"
							viewBox="0 0 13.061 7.592">
							<path id="Tracé_437"
								data-name="Tracé 437"
								d="M-20756-11033.383l6,6-6,6"
								transform="translate(-11020.853 20756.531) rotate(90)"
								stroke-width="1.5" />
						</svg>
					</button>
					{% if services %}
						<ul id="submenu" aria-expanded="false">
							{% for service in services %}
								<li class="item">
									{{
										service.meta('link') ?
											'<a href="' ~ service.meta('link').url ~ '" target="_blank" rel="noopener noreferrer">' :
											'<a href="' ~ service.link ~ '">'
									}}
										<div class="img-container desktop">
											{{ function('wp_get_attachment_image', service._thumbnail_id, 'medium_large') }}
										</div>
										<p class="item-title">
											{{ service.post_title }}
										</p>
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>

				{# Mon livre #}
				<li>
					<a href="https://www.amazon.fr/dp/2702927858" target="_blank">Mon livre</a>
				</li>

				{# Qui suis-je #}
				<li>
					{% set quisuisje_page = function('get_page_by_path', 'qui-suis-je') %}
					{% if quisuisje_page %}
						{% set quisuisje_post_id = function('pll_get_post', quisuisje_page.ID) %}
						<a href="{{ function('get_the_permalink', quisuisje_post_id) }}">
							{{ __('Qui suis-je', 'fetedusleep') }}
						</a>
					{% endif %}
				</li>

				{# Contact #}
				<li>
					{% set contact_page = function('get_page_by_path', 'contact') %}
					{% if contact_page %}
						{% set contact_post_id = function('pll_get_post', contact_page.ID) %}
						<a href="{{ function('get_the_permalink', contact_post_id) }}">
							{{ __('Contact', 'fetedusleep') }}
						</a>
					{% endif %}
				</li>

				<li class="mobile">
					<a href="{{ options.instagram }}" target="_blank" rel="noopener noreferrer">Instagram</a>
				</li>

				<li class="mobile">
					<a href="{{ options.tiktok }}" target="_blank" rel="noopener noreferrer">Tiktok</a>
				</li>

				{# Newsletter #}
				<li>
					<a class="btn-primary appel"
						target="_blank"
						href="https://fr.lafetedusleep.com/nl-du-sleep">
						Newsletter
					</a>
				</li>

				{# <li class="language-switcher">
					<ul>
						{{
							fn(
								'pll_the_languages',
								{
									echo: 0,
									hide_if_empty: 0,
									display_names_as: 'slug'
								}
							)
						}}
					</ul>
				</li> #}
			</ul>
		</nav>
	</div>
</header>
<div class="overlay-menu desktop"></div>

