{% extends 'base.twig' %}

{% block body %}
	<div class="page-mes-consultations">

		<section class="hero">
			<div class="container">
				<h1 class="hero__title page-title">
					<p class="text-reveal" translate>{{ post.title }}</p>
				</h1>
                <div class="hero__intro">
					<div class="text-reveal">
						{{ post.content }}
					</div>
				</div>
			</div>
		</section>

        <section class="categories">
            <div class="container">
                <ul class="list">
                    {% for type_consultation in consultations %}
                        <li class="item">
                            <a href="{{ function('get_term_link', type_consultation.term_id) }}">
                                <div class="img-container">
                                    {% set image =
                                        function(
                                            'get_field',
                                            'image',
                                            'types-consultation_' ~ type_consultation.term_id
                                        )
                                    %}
                                    {% if image %}
                                        <img src="{{ image.sizes['large'] }}"
                                            alt="{{ type_consultation.title }}"
                                            srcset="{{ image.sizes['medium_large'] }} {{ image.sizes['medium-width'] }}w, {{
                                            image.sizes['large']
                                            }} {{ image.sizes['large-width'] }}w, {{ image.sizes['xl'] }} {{ image.sizes['xl-width'] }}w"
                                            sizes="(max-width: 768px) 100vw, 33vw" 
                                            loading="lazy" />
                                    {% endif %}
                                </div>
                                <p class="item-title">
                                    {{ type_consultation.name }}
                                </p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

    </div>
{% endblock %}
