{% extends 'base.twig' %}

{% block body %}

{% set service_number = post.meta('service_number') %}
{% set contact_page = function('get_page_by_path', 'contact') %}
{% set link = post.meta('link') %}

	<div class="page-single-consultations">
		<section class="hero">
			<div class="container">
                <div class="left">
                    <div class="img-container">
                        <img src="{{ post.thumbnail.sizes['large']['file'] }}"
                        alt="{{post.title}}"
                        srcset="{{ post.thumbnail.srcset }}"
                        sizes="(max-width: 768px) 100vw, 50vw)"
                        class="parallax" 
                        data-speed="10" 
                        loading="lazy"
                        />
                    </div>
                </div>
				<div class="right">
                    <h1 class="hero__title page-title small">
                        <p class="text-reveal" translate>{{ post.title }}</p>
                    </h1>

                    {% if post.meta('prix') %}
                        <p class="prix text-reveal" translate>{{post.meta('prix')}} € TTC</p>
                    {% endif %}
                    
                    <div class="presentation text-reveal">
                        {{ post.meta('presentation') }}
                    </div>
                    
                    {% if service_number %}
                        <a class="btn-primary green" href="#simplybookme">
                            {{ __('Je prends rendez-vous', 'fetedusleep') }}
                        </a>
                    {% elseif link %}
                        <a class="btn-primary green" href="{{link.url}}" {{link.target ? 'target="' ~ link.target ~ '"' : ''}}>
                            {{link.title}}
                        </a>
                    {% elseif contact_page %}
                        {% set contact_post_id = function('pll_get_post', contact_page.ID) %}
                        <a class="btn-primary green" href="{{ function('get_the_permalink', contact_post_id) }}">
                            {{ __('Je prends rendez-vous', 'fetedusleep') }}
                        </a>
                    {% endif %}
                </div>
			</div>
		</section>

        {% include '/components/_etapes-consultations.twig' %}

        <div class="temoignages_light{{ etapes_consultations ? ' margin-top' : ''}}">{% include '/components/_temoignages.twig' %}</div>

        {% if not link %}
            <section class="rdv">
                <div class="container">
                    <h2 class="page-title small text-reveal" translate>{{ __('Je prends rendez-vous', 'fetedusleep') }}</h2>

                    {% set service_number = post.meta('service_number') %}
                    {% if service_number %}
                        <script src="https://widget.simplybook.it/v2/widget/widget.js"></script>
                        <div id="simplybookme">
                            <script>
                                var widget = new SimplybookWidget({
                                widget_type: 'iframe',
                                url: 'https://lafetedusleep.simplybook.it',
                                theme: 'space',
                                theme_settings: {
                                    timeline_hide_unavailable: '1',
                                    sb_base_color: '#343539',
                                    hide_past_days: '0',
                                    timeline_show_end_time: '0',
                                    timeline_modern_display: 'as_slots',
                                    display_item_mode: 'block',
                                    sb_review_image: '',
                                    dark_font_color: '#343539',
                                    light_font_color: '#f8efec',
                                    sb_company_label_color: '#f8efec',
                                    hide_img_mode: '0',
                                    show_sidebar: '0',
                                    sb_busy: '#c6c0be',
                                    sb_available: '#23a4a4',
                                },
                                timeline: 'modern',
                                datepicker: 'top_calendar',
                                is_rtl: false,
                                app_config: {
                                    clear_session: 0,
                                    allow_switch_to_ada: 0,
                                    predefined: { service: {{service_number}} },
                                },
                            })
                            </script>
                        </div>
                    {% else %}
                        {% include '/components/_rdv-indisponible.twig' %}
                    {% endif %}
                </div>
            </section>
        {% endif %}
        
        
	</div>
{% endblock %}
