{% extends 'base.twig' %}

{% block body %}
	<div class="page-types-consultation">
		<section class="hero">
			<div class="container">
				<div class="left desktop img-container">
					<img src="{{ image.sizes['large'] }}"
						alt="{{ type_consultation.title }}"
						srcset="{{ image.sizes['medium_large'] }} {{ image.sizes['medium-width'] }}w, {{
						image.sizes['large']
						}} {{ image.sizes['large-width'] }}w, {{ image.sizes['xl'] }} {{ image.sizes['xl-width'] }}w"
						sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
						class="parallax"
						data-speed="10"
							/>
				</div>
				<div class="right">
					<div>
						<p class="page-subtitle">
							{{ __('Mes consultations', 'fetedusleep') }}
						</p>
						<h1 class="hero__title page-title">
							<p class="text-reveal" translate>{{ type_consultation.title }}</p>
						</h1>
					</div>
					<div class="img-container mobile">
						<img src="{{ image.sizes['large'] }}"
							alt="{{ type_consultation.title }}"
							srcset="{{ image.sizes['medium_large'] }} {{ image.sizes['medium-width'] }}w, {{
							image.sizes['large']
							}} {{ image.sizes['large-width'] }}w, {{ image.sizes['xl'] }} {{ image.sizes['xl-width'] }}w"
							sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
							 />
					</div>
					<div class="hero__presentation text-reveal">
						{{ type_consultation.meta('presentation') }}
					</div>
				</div>
			</div>
		</section>

		<section class="services">
			<div class="container">
				<h2 class="services__title text-reveal" translate>
					{{ __('Mes services', 'fetedusleep') }}
				</h2>
				<ul class="services__list">
					{% for consultation in consultations %}
						<li class="services__item">
							{% include 'components/_card-consultation.twig' %}
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		{% include "components/_ensavoirplus.twig" %}
	</div>
{% endblock %}
